@model rfdp.Models.SigProc
@{
    ViewBag.Title = "Index";
}

<head>
    <meta charset="utf-8" />
    <title>RF Tester GUI</title>
    <style type="text/css">
        div#config {
            width: 340px;
            float: left;
            background-color: #e4e4e4;
        }

        div#main {
            width: 100%;
            padding-left: 1em;
            float: left;
            color: green;
        }

        div#info {
            width: 240px;
            background-color: white;
            padding-left: 1em;
            color: green;
            border: solid;
        }

        div#stat {
            width: 300px;
            background-color: white;
            float: left;
            padding-left: 1em;
            color: green;
            border: solid;
        }

        div#svg {
            width: 600px;
            height: 400px;
            float: left;
            background-color: #e4e4e4;
        }

        .axis path,
        .axis line {
            fill: none;
            stroke: black;
            shape-rendering: crispEdges;
        }

        .axis text {
            font-family: sans-serif;
            font-size: 11px;
        }

    </style>
</head>

<div id="config">
    @using (Ajax.BeginForm(
    new AjaxOptions
    {
        HttpMethod = "get",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "info_div"
    }))
    {
        <fieldset>
            <p>
                Channel 0: @Html.DropDownList("datalist0")
                Channel 1: @Html.DropDownList("datalist1")
            </p>
            <p>@Html.TextBox("fs")</p>

            <p><input type="submit" value="Update" size="5" /></p>
        </fieldset>
    }
</div>

<div id="main">
    <div id="info">
        <p>channel 0 source: @Model.datafile0</p>
        <p>channel 1 source: @Model.datafile1</p>
        <p></p>
    </div>

    <div id="stat">
        <table>
            <tr><td colspan="2" align="center">Signal Statistics</td></tr>
            <tr><td>Data Points</td><td>@Model.len</td></tr>
            <tr><td>Duration</td><td>@Model.duration us</td></tr>
            <tr><td>sampling frequency</td><td>@Model.fs MHz</td></tr>
            <tr><td>Mean</td><td>@Model.mean mV</td></tr>
            <tr><td>RMS</td><td>@Model.rms</td></tr>
            <tr><td>Power</td><td>@Model.pwr</td></tr>
            <tr><td>Max Value</td><td>@Model.max mV</td></tr>
            <tr><td>Min Value</td><td>@Model.min mV</td></tr>
        </table>
    </div>

    <div id="svg">
    </div>
</div>

<script type="text/javascript">
    var JSONData = JSON.parse(@Html.Raw(Json.Encode(@Model.jasondata)));
</script>


@section Scripts {
    @Scripts.Render("~/bundles/rfdp_js")
}