@model rfdp.Models.SigProc
@{
    ViewBag.Title = "Index";
}

<head>
    <meta charset="utf-8" />
    <title>RF Tester GUI</title>
    <style type="text/css">
        button {
            font-size: 10pt;
            height: 25px; 
            width: 60px;
        }
        div#config {
            width: 340px;
            height:inherit;
            float: left;
            background-color: #e4e4e4;
        }

        div#main {
            width: 100%;
            padding-left: 1em;
            color: black;
        }

        div#stat {
            width: 540px;
            float: left;
            padding-left: 1em;
            background-color: #e4e4e4;
        }

        div#svg {
            width: 900px;
            height: 600px;
            float: left;
            background-color: #e4e4e4;
        }

        div#svg_chan {
            width: 600px;
            height: 400px;
            float: left;
            background-color: #e4e4e4;
        }

        div#svg_plan {
            width: 600px;
            height: 400px;
            float: left;
            background-color: #e4e4e4;
        }

        .axis path,
        .axis line {
            fill: none;
            stroke: black;
            shape-rendering: crispEdges;
        }

        .axis text {
            font-family: sans-serif;
            font-size: 11px;
        }
        .legend rect {
            fill: white;
            stroke: black;
            opacity: 0.8;
        }
        table, td, th {
            border:1px solid;
        }
        th {
            text-align: center;
        }
    </style>
</head>

<div id="config">
    @using (Ajax.BeginForm(
    new AjaxOptions
    {
        HttpMethod = "get",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "main"
    }))
    {
        <fieldset>
            <legend >Configurations:</legend>
            @Html.RadioButton("SelChan", 1, true) Single-Channel
            @Html.RadioButton("SelChan", 2, false) Dual-Channel<p></p>
            Channel 0: @Html.DropDownList("datalist0") <br />
            Channel 1: @Html.DropDownList("datalist1") <br />
            Sampling Frequency: @Html.TextBox("fs", 100, new { size = "5" }) MHz
            <p></p>
            @Html.RadioButton("SelPanel", "TimeDomain", true) Time Domain Analysis<br />
            @Html.RadioButton("SelPanel", "FrequencyDomain", false) Frequency Domain Analysis<br />
            @Html.RadioButton("SelPanel", "EyePattern", false) Eye Diagram<br />
            @Html.RadioButton("SelPanel", "Scatter", false) Scatter<br />
            @Html.RadioButton("SelPanel", "Histogram", false) Histogram<br />
            <button type="submit">Analyze</button><br />
        </fieldset>
        
    }
</div>

<div id="main">
    <div id="stat">
        <table border="1">
            <tr><th colspan="3">Signal Statistics</th></tr>
            <tr><td></td><td>@Model.datafile[0]</td><td>@Model.datafile[1]</td></tr>
            <tr><td>Data Points</td><td>@Model.len[0]</td><td>@Model.len[1]</td></tr>
            <tr><td>Duration (uS)</td><td colspan="2">@Model.duration</td></tr>
            <tr><td>sampling frequency (MHz)</td><td colspan="2">@Model.fs</td></tr>
            <tr><td>Mean (mV)</td><td>@Model.mean[0]</td><td>@Model.mean[1]</td></tr>
            <tr><td>RMS </td><td>@Model.rms[0]</td><td>@Model.rms[1]</td></tr>
            <tr><td>Power</td><td>@Model.pwr[0]</td><td>@Model.pwr[1]</td></tr>
            <tr><td>Max Value (mV)</td><td>@Model.max[0]</td><td>@Model.max[1]</td></tr>
            <tr><td>Min Value (mV)</td><td>@Model.min[0]</td><td>@Model.min[1]</td></tr>
        </table>
    </div>

    <div id="chart">
        <svg style="height: 500px"></svg>
    </div>

</div>
@*  *@
<script type="text/javascript">
    var JSONData_ch0 = JSON.parse(@Html.Raw(Json.Encode(@Model.jasondata[0])));
    var JSONData_ch1 = JSON.parse(@Html.Raw(Json.Encode(@Model.jasondata[1])));
    var JSONData_plan = JSON.parse(@Html.Raw(Json.Encode(@Model.jasondata[2])));
    var mode = String("@Model.analysisMode");
</script>


@section Scripts {
    @Scripts.Render("~/bundles/d3_js");
    @Scripts.Render("~/bundles/nvd3_js");
    @Scripts.Render("~/bundles/rfdp_js");
}